In [10]:
import pandas as pd
#import numpy as np
import matplotlib.pyplot as plt
data1 = pd.read_csv("DATARAW/solarData269.txt", sep=",", header=None,  names=["Panel_location_type_and_ID", "Date","kWh produced", "On/Off"])
data2 = pd.read_csv("DATARAW/solarData280.txt", sep=",", header=None,  names=["Panel_location_type_and_ID", "Date","kWh produced", "On/Off"])
data3 = pd.read_csv("DATARAW/solarData290.txt", sep=",", header=None,  names=["Panel_location_type_and_ID", "Date","kWh produced", "On/Off"])
data4 = pd.read_csv("DATARAW/solarData391.txt", sep=",", header=None,  names=["Panel_location_type_and_ID", "Date","kWh produced", "On/Off"])

frames = [data1, data2,data3,data4]
data = pd.concat(frames)
print(data)
print("shit data")
#importing raw data

      Panel_location_type_and_ID      Date  kWh produced  On/Off
0               loc269_type1_id1  20160101     64.100808       1
1               loc269_type1_id1  20160102     12.348856       1
2               loc269_type1_id1  20160103     16.707593       1
3               loc269_type1_id1  20160104      9.014957       1
4               loc269_type1_id1  20160105     23.034322       1
...                          ...       ...           ...     ...
43825          loc391_type3_id10  20191227     74.781257       1
43826          loc391_type3_id10  20191228     54.389935       1
43827          loc391_type3_id10  20191229     57.328514       1
43828          loc391_type3_id10  20191230     73.143623       1
43829          loc391_type3_id10  20191231      8.691913       1

[106653 rows x 4 columns]
shit data

In [11]:
data[['location', 'type','ID']] = data.Panel_location_type_and_ID.str.split("_", expand = True)

data = data.drop(['Panel_location_type_and_ID'], axis = 1)
print(data)
#fixing tables

           Date  kWh produced  On/Off location   type    ID
0      20160101     64.100808       1   loc269  type1   id1
1      20160102     12.348856       1   loc269  type1   id1
2      20160103     16.707593       1   loc269  type1   id1
3      20160104      9.014957       1   loc269  type1   id1
4      20160105     23.034322       1   loc269  type1   id1
...         ...           ...     ...      ...    ...   ...
43825  20191227     74.781257       1   loc391  type3  id10
43826  20191228     54.389935       1   loc391  type3  id10
43827  20191229     57.328514       1   loc391  type3  id10
43828  20191230     73.143623       1   loc391  type3  id10
43829  20191231      8.691913       1   loc391  type3  id10

[106653 rows x 6 columns]

In [12]:
data['Date'] = pd.to_datetime(data['Date'], format='%Y%m%d')
print(data)
#fixing date fotmat

            Date  kWh produced  On/Off location   type    ID
0     2016-01-01     64.100808       1   loc269  type1   id1
1     2016-01-02     12.348856       1   loc269  type1   id1
2     2016-01-03     16.707593       1   loc269  type1   id1
3     2016-01-04      9.014957       1   loc269  type1   id1
4     2016-01-05     23.034322       1   loc269  type1   id1
...          ...           ...     ...      ...    ...   ...
43825 2019-12-27     74.781257       1   loc391  type3  id10
43826 2019-12-28     54.389935       1   loc391  type3  id10
43827 2019-12-29     57.328514       1   loc391  type3  id10
43828 2019-12-30     73.143623       1   loc391  type3  id10
43829 2019-12-31      8.691913       1   loc391  type3  id10

[106653 rows x 6 columns]

In [13]:
#fixing type location ID
data.type = data.type.str.slice(4)
data.location = data.location.str.slice(3)
data.ID = data.ID.str.slice(2)
print(data)
#exporting data
data.to_csv('DATA/SolarData.txt',index=False)

            Date  kWh produced  On/Off location type  ID
0     2016-01-01     64.100808       1      269    1   1
1     2016-01-02     12.348856       1      269    1   1
2     2016-01-03     16.707593       1      269    1   1
3     2016-01-04      9.014957       1      269    1   1
4     2016-01-05     23.034322       1      269    1   1
...          ...           ...     ...      ...  ...  ..
43825 2019-12-27     74.781257       1      391    3  10
43826 2019-12-28     54.389935       1      391    3  10
43827 2019-12-29     57.328514       1      391    3  10
43828 2019-12-30     73.143623       1      391    3  10
43829 2019-12-31      8.691913       1      391    3  10

[106653 rows x 6 columns]