In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
data = pd.read_csv("DATA/solarData269.txt", sep=",", header=None,  names=["Panel_location_type_and_ID", "Date","kWh produced", "On/Off"])

print(data)
print("shit data")

      Panel_location_type_and_ID      Date  kWh produced  On/Off
0               loc269_type1_id1  20160101     64.100808       1
1               loc269_type1_id1  20160102     12.348856       1
2               loc269_type1_id1  20160103     16.707593       1
3               loc269_type1_id1  20160104      9.014957       1
4               loc269_type1_id1  20160105     23.034322       1
...                          ...       ...           ...     ...
18988           loc269_type3_id3  20191227     52.287733       1
18989           loc269_type3_id3  20191228     44.268893       1
18990           loc269_type3_id3  20191229     51.401230       1
18991           loc269_type3_id3  20191230     55.647981       1
18992           loc269_type3_id3  20191231     42.710117       1

[18993 rows x 4 columns]
shit data

In [2]:
data[['location', 'type','ID']] = data.Panel_location_type_and_ID.str.split("_", expand = True)

data = data.drop(['Panel_location_type_and_ID'], axis = 1)
print(data)

           Date  kWh produced  On/Off location   type   ID
0      20160101     64.100808       1   loc269  type1  id1
1      20160102     12.348856       1   loc269  type1  id1
2      20160103     16.707593       1   loc269  type1  id1
3      20160104      9.014957       1   loc269  type1  id1
4      20160105     23.034322       1   loc269  type1  id1
...         ...           ...     ...      ...    ...  ...
18988  20191227     52.287733       1   loc269  type3  id3
18989  20191228     44.268893       1   loc269  type3  id3
18990  20191229     51.401230       1   loc269  type3  id3
18991  20191230     55.647981       1   loc269  type3  id3
18992  20191231     42.710117       1   loc269  type3  id3

[18993 rows x 6 columns]

In [3]:
data['Date'] = pd.to_datetime(data['Date'], format='%Y%m%d')
print(data)

            Date  kWh produced  On/Off location   type   ID
0     2016-01-01     64.100808       1   loc269  type1  id1
1     2016-01-02     12.348856       1   loc269  type1  id1
2     2016-01-03     16.707593       1   loc269  type1  id1
3     2016-01-04      9.014957       1   loc269  type1  id1
4     2016-01-05     23.034322       1   loc269  type1  id1
...          ...           ...     ...      ...    ...  ...
18988 2019-12-27     52.287733       1   loc269  type3  id3
18989 2019-12-28     44.268893       1   loc269  type3  id3
18990 2019-12-29     51.401230       1   loc269  type3  id3
18991 2019-12-30     55.647981       1   loc269  type3  id3
18992 2019-12-31     42.710117       1   loc269  type3  id3

[18993 rows x 6 columns]